@model ApiSDemo.Models.ViewModels.ChangePasswordVm
@{
    ViewData["Title"] = "ChangePassword";
}

<div class="row">
    <div class="col-md-4">
        <h1>Change Password</h1>
        <form asp-action="ChangePassword">
            <div class="form-floating mb-3">
                <input asp-for="OldPassword" type="password" class="form-control" placeholder="Password">
                <label asp-for="OldPassword"></label>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="NewPassword" type="password" class="form-control" placeholder="Password">
                <label asp-for="NewPassword"></label>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Password">
                <label asp-for="ConfirmPassword"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update Changes" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


